randomData/nodered_flow.json
[
  {
    "id": "db-cfg-001",
    "type": "MySQLdatabase",
    "name": "sensor_db",
    "host": "127.0.0.1",
    "port": "3306",
    "db": "sensor_db",
    "tz": "Asia/Seoul",
    "charset": "utf8mb4",
    "ssl": false
  },
  {
    "id": "tab-main-001",
    "type": "ui_tab",
    "name": "센서 모니터링",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "grp-gauges-001",
    "type": "ui_group",
    "name": "실시간 센서값",
    "tab": "tab-main-001",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp-chart-001",
    "type": "ui_group",
    "name": "시계열 차트 (최근 60초)",
    "tab": "tab-main-001",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "inject-001",
    "type": "inject",
    "name": "3초마다 조회",
    "props": [
      { "p": "payload" },
      { "p": "topic", "vt": "str" }
    ],
    "repeat": "3",
    "crontab": "",
    "once": true,
    "onceDelay": 0.5,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 160,
    "wires": [["fn-set-query-001"]]
  },
  {
    "id": "fn-set-query-001",
    "type": "function",
    "name": "SQL 쿼리 설정",
    "func": "msg.topic = 'SELECT recorded_at, temperature, humidity, pressure, light_level FROM sensor_readings ORDER BY id DESC LIMIT 60';\nreturn msg;",
    "outputs": 1,
    "x": 330,
    "y": 160,
    "wires": [["mysql-001"]]
  },
  {
    "id": "mysql-001",
    "type": "mysql",
    "name": "sensor_readings 조회",
    "mydb": "db-cfg-001",
    "x": 540,
    "y": 160,
    "wires": [["fn-parse-gauges-001", "fn-parse-chart-001"]]
  },
  {
    "id": "fn-parse-gauges-001",
    "type": "function",
    "name": "최신값 → 게이지",
    "func": "if (!msg.payload || msg.payload.length === 0) return null;\nconst r = msg.payload[0];\nreturn [\n  { payload: parseFloat(r.temperature), topic: '온도(°C)' },\n  { payload: parseFloat(r.humidity),    topic: '습도(%)' },\n  { payload: parseFloat(r.pressure),    topic: '기압(hPa)' },\n  { payload: parseInt(r.light_level),   topic: '조도(lux)' }\n];",
    "outputs": 4,
    "x": 760,
    "y": 80,
    "wires": [
      ["gauge-temp-001"],
      ["gauge-hum-001"],
      ["gauge-pres-001"],
      ["gauge-light-001"]
    ]
  },
  {
    "id": "gauge-temp-001",
    "type": "ui_gauge",
    "name": "온도",
    "group": "grp-gauges-001",
    "order": 1,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "온도",
    "label": "°C",
    "format": "{{value}}",
    "min": "-10",
    "max": "50",
    "colors": ["#00b4ff", "#00ff00", "#ff0000"],
    "seg1": "15",
    "seg2": "35",
    "x": 990,
    "y": 40,
    "wires": []
  },
  {
    "id": "gauge-hum-001",
    "type": "ui_gauge",
    "name": "습도",
    "group": "grp-gauges-001",
    "order": 2,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "습도",
    "label": "%",
    "format": "{{value}}",
    "min": "0",
    "max": "100",
    "colors": ["#ffcc00", "#00ff00", "#0000ff"],
    "seg1": "30",
    "seg2": "80",
    "x": 990,
    "y": 80,
    "wires": []
  },
  {
    "id": "gauge-pres-001",
    "type": "ui_gauge",
    "name": "기압",
    "group": "grp-gauges-001",
    "order": 3,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "기압",
    "label": "hPa",
    "format": "{{value}}",
    "min": "950",
    "max": "1060",
    "colors": ["#00ff00", "#00ff00", "#ff0000"],
    "seg1": "980",
    "seg2": "1040",
    "x": 990,
    "y": 120,
    "wires": []
  },
  {
    "id": "gauge-light-001",
    "type": "ui_gauge",
    "name": "조도",
    "group": "grp-gauges-001",
    "order": 4,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "조도",
    "label": "lux",
    "format": "{{value}}",
    "min": "0",
    "max": "2000",
    "colors": ["#333333", "#ffcc00", "#ffffff"],
    "seg1": "200",
    "seg2": "1200",
    "x": 990,
    "y": 160,
    "wires": []
  },
  {
    "id": "fn-parse-chart-001",
    "type": "function",
    "name": "차트 데이터 포맷",
    "func": "if (!msg.payload || msg.payload.length === 0) return null;\nconst rows = msg.payload.slice().reverse();\nconst series = [\n  { label: '온도(°C)',   key: 'temperature' },\n  { label: '습도(%)',    key: 'humidity'    },\n  { label: '기압(hPa)', key: 'pressure'    }\n];\nconst out = [];\nfor (const s of series) {\n  out.push({\n    payload: rows.map(r => ({\n      x: new Date(r.recorded_at).getTime(),\n      y: parseFloat(r[s.key])\n    })),\n    topic: s.label,\n    series: [s.label]\n  });\n}\nreturn out;",
    "outputs": 3,
    "x": 760,
    "y": 260,
    "wires": [
      ["chart-sensor-001"],
      ["chart-sensor-001"],
      ["chart-sensor-001"]
    ]
  },
  {
    "id": "chart-sensor-001",
    "type": "ui_chart",
    "name": "센서 시계열",
    "group": "grp-chart-001",
    "order": 1,
    "width": "12",
    "height": "6",
    "label": "센서 시계열",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "데이터 없음",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "60",
    "removeOlderPoints": "",
    "removeOlderUnit": "1",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#ff4444", "#4488ff", "#44cc44", "#ffaa00"],
    "x": 990,
    "y": 260,
    "wires": []
  }
]
